body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
em,
i {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.ind {
  text-indent: 2em;
}
.ind10 {
  text-indent: 10px;
}
.noborder {
  border: 0;
}
.left {
  floaT: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #444;
}
.active {
  color: #fff;
  background-color: #333;
}
#header {
  height: 84px;
  width: 100%;
}
#header .wrapper {
  padding: 20px 5% 0;
  height: auto;
}
#header .wrapper .content {
  margin: 0 auto;
  height: 100%;
}
#header .wrapper .content .logo a {
  float: left;
  display: block;
  height: 44px;
}
#header .wrapper .nav {
  float: right;
  margin: 0 30px;
  height: 64px;
}
#header .wrapper .nav li {
  float: left;
  margin-right: 40px;
}
#header .wrapper .nav li a {
  color: #999999;
}
#header .wrapper .nav .li2 a i {
  margin-left: 10px;
  display: inline-block;
  background: url(../images/xiala.jpg) no-repeat center;
  width: 9px;
  height: 5px;
}
#banner {
  background: url(../images/d800f529deee7cbe75d67f772b3ce190.jpg) no-repeat center bottom;
  width: 100%;
  height: 850px;
}
#module {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
#module .container {
  margin: 0 auto;
  padding: 0 5%;
}
#module .container-header {
  padding: 120px 0 80px;
  text-align: center;
}
#module .container-header-title {
  font-size: 32px;
  color: #333;
}
#module .container-header-subtitle {
  color: #999;
  font-size: 14px;
  margin-top: 24px;
}
#module .container-nav {
  margin: 0 0 50px;
  text-align: center;
}
#module .container-nav a {
  display: inline-block;
  color: #888a87;
  padding: 8px 25px;
  height: 32px;
  line-height: 32px;
}
#module .container-nav a:hover {
  background-color: #333333;
  text-decoration: none;
}
#module .container-list {
  width: 32.33%;
  margin-right: 1%;
  margin-bottom: 1%;
  height: auto;
  float: left;
}
#module .container-list-img {
  overflow: hidden;
}
#module .container-list-img img {
  width: 100%;
}
#module .container-list-info {
  padding: 0 8% 6%;
  text-align: center;
}
#module .container-list-info-title {
  margin-top: 4px;
  color: #505050;
  font-size: 18px;
}
#module .container-list-info-subtitle {
  color: #b1b1b1;
  font-size: 12px;
  margin-top: 14px;
}
#module .container-list-info-number {
  color: #b1b1b1;
  margin-top: 20px;
}
#data {
  margin: 0 auto;
  padding: 60px 0;
}
#data ul li {
  float: left;
  width: 25%;
  text-align: center;
}
#data ul li div {
  height: 88px;
  border-right: 1px solid #ebebeb;
}
#data ul li div .p1 {
  font-size: 40px;
  margin: 17px 0;
  color: #3c3c3c;
}
#data ul li div .p1 sup {
  font-size: 12px;
  color: #929292;
  margin-left: 10px;
}
#data ul li div .p2 {
  font-size: 12px;
  color: #929292;
}
#case {
  margin: 0 auto;
}
#case .header {
  padding: 120px 0 80px;
  text-align: center;
}
#case .header .title {
  font-size: 32px;
  color: #323433;
}
#case .header .subtitle {
  font-size: 14px;
  margin-top: 16px;
  color: #9b9798;
}
#case .nav {
  margin: 0 0 50px;
  text-align: center;
}
#case .nav a {
  padding: 8px 25px;
  font-size: 14px;
  display: inline-block;
  color: #999;
}
#case .nav a:after {
  position: absolute;
  margin-top: 3px;
  margin-left: 25px;
  width: 1px;
  height: 10px;
  background-color: #e7e7e7;
  content: '';
}
#case .nav a:hover {
  text-decoration: none;
}
#case .slider {
  height: 512px;
  width: 1338px;
  margin: 0 auto;
}
#case .slider-img {
  width: 55%;
  float: left;
}
#case .slider-img img {
  width: 100%;
}
#case .slider-content {
  width: 45%;
  float: left;
}
#case .slider-content-title {
  font-size: 22px;
  color: #656563;
  margin: 30px 0;
}
#case .slider-content-content {
  font-size: 12px;
  line-height: 24px;
  color: #777777;
}
#case .slider-content-site {
  margin-top: 50px;
}
#case .slider-content-site a {
  padding: 13px 40px 12px;
  background-color: #666666;
  color: #fff;
}
#liucheng {
  background: url(../images/1491472757886.jpg) no-repeat;
  background-position-y: 65px;
  overflow: hidden;
  position: relative;
}
#liucheng .lc {
  margin: 0 auto;
  padding-bottom: 70px;
}
#liucheng .lc-body {
  padding: 100px 0 20px;
  color: #555;
  text-align: center;
  font-size: 32px;
}
#liucheng .lc-body-subtitle {
  margin: 5px 0;
  color: #999;
  font-size: 14px;
}
#liucheng .lc-img {
  text-align: center;
}
#liucheng .lc-img img {
  height: 300px;
}
#you {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
#you .container {
  margin: 0 auto;
  padding: 0 5%;
}
#you .container-header {
  padding: 120px 0 80px;
  text-align: center;
}
#you .container-header-title {
  font-size: 32px;
  color: #333;
}
#you .container-header-subtitle {
  color: #999;
  font-size: 14px;
  margin-top: 24px;
}
#you .container-img {
  text-align: center;
}
#you .container-img img {
  height: 568px;
}
#shili {
  height: 720px;
  padding: 0 5%;
  background-color: #f8f8f8;
}
#shili .shili {
  margin: 0 auto;
  height: 700px;
}
#shili .shili-left {
  float: left;
  padding-top: 200px;
  width: 30%;
  margin-left: 5%;
}
#shili .shili-left-title {
  font-size: 26px;
  margin-bottom: 15px;
}
#shili .shili-left-content1 {
  margin: 30px 0;
}
#shili .shili-left-content2 {
  font-size: 12px;
  line-height: 24px;
}
#shili .shili-left-more {
  margin-top: 40px;
}
#shili .shili-left-more a {
  display: block;
  padding: 7px 19px;
  border: 1px solid #e1e1e1;
  text-align: center;
  color: #898989;
  font-size: 14px;
  line-height: 26px;
  width: 120px;
}
#shili .shili-right {
  width: 60%;
  float: right;
}
#shili .shili-right img {
  height: 700px;
  padding: 30px 0;
}
#muban {
  position: relative;
  background-color: #fff;
}
#muban .muban {
  margin: 0 auto;
  padding: 0 5%;
}
#muban .muban-header {
  padding: 120px 0 80px;
  text-align: center;
}
#muban .muban-header-title {
  font-size: 32px;
  color: #333;
}
#muban .muban-header-subtitle {
  color: #999;
  font-size: 14px;
  margin-top: 24px;
}
#muban .muban-img {
  text-align: center;
}
#muban .muban-img img {
  height: 804px;
}
#bikan {
  position: relative;
  background-color: #fff;
}
#bikan .bikan {
  margin: 0 auto;
  padding: 0 5%;
}
#bikan .bikan-header {
  padding: 120px 0 80px;
  text-align: center;
}
#bikan .bikan-header-title {
  font-size: 32px;
  color: #333;
}
#bikan .bikan-header-subtitle {
  color: #999;
  font-size: 14px;
  margin-top: 24px;
}
#footer {
  position: relative;
  background-color: #f0f0f0;
  height: 100px;
}
#footer .footer {
  margin: 0 auto;
  padding: 0 5%;
}
#footer .footer-you {
  margin-top: 40px;
}
#footer .footer-you span {
  margin-right: 25px;
}
