* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
ul {
  height: 40px;
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
  border-bottom: 1px solid #9f9f9f;
}
ul li {
  margin-right: 8px;
  float: left;
}
ul li a {
  height: 35px;
  line-height: 40px;
  border: 1px solid #d2d2d2;
  border-bottom-color: #9f9f9f;
  display: block;
  margin-top: 4px;
  padding: 0 13px 0 12px;
  color: #9f9f9f;
  background-color: #fff;
}
ul li a:hover {
  border: 1px solid #9f9f9f;
  border-bottom: none;
  margin-top: 0;
  height: 40px;
}
