<div id="search">
    <div class="linputer none">
        <div class="lbutton">
            <span class="city">全国</span>
            <span class="cityicon"></span>
        </div>
        <div class="rinput">
            <input type="text" class="inputer" placeholder="搜索职位或公司">
            <span><i>&#xe501;</i></span>   
        </div>
    </div>
    <div class="listcon none">
        <div class="custominfo none">将搜索地区和关键词设为定制条件</div>
        <div id="list-container">

        </div>
    </div>
    <div class="city">
        <div class="back">
            <button><</button>
        </div>
        <div class="city-header">热门城市</div>
        <div class="city-list"></div>
    </div>
</div>