@font-face {
  font-family: "iconfont";
  src: url("../libs/iconfont.woff2") format("woff2"),
    url("../libs/iconfont.woff") format("woff"),
    url("../libs/iconfont.ttf") format("truetype");
}

html {
  font-family: Helvetica, '微软雅黑';
  font-size: 26.6667vw; // 100px/3.75
  height: 100%;
}

body {
  height: 100%;
  font-size: 0.14rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  header {
    height: 0.45rem;
    text-align: center;
    line-height: 0.45rem;
    background: #00b38a;
    font-size: 0.18rem;
    color: white;
  }

  main {
    flex: 1;
  }

  nav {
    background: #f6f6f6;

    ul {
      display: flex;

      li {
        flex: 1;
        line-height: 45px;
        display: inline-block;
        text-align: center;
        font-size: 16.768px;

        &.active {
          color: #00b38a;
          background: #e7f3f0;
        }

        i {
          font-family: "iconfont" !important;
          font-style: normal;
          margin-right: 2px;
        }
      }
    }
  }
}