@import "./mixin.scss";

i {
  font-family: "iconfont" !important;
  font-style: normal;
  margin-right: 2px;
}

@font-face {
  font-family: "iconfont";
  src: url("../libs/iconfont.woff2") format("woff2"),
    url("../libs/iconfont.woff") format("woff"),
    url("../libs/iconfont.ttf") format("truetype");
}

html {
  font-family: Helvetica, '微软雅黑';
  font-size: 26.6667vw; // 100px/3.75
  height: 100%;
}

body {
  height: 100%;
  font-size: 0.14rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#header {
  position: relative;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
  background: #00b38a;
  font-size: 0.18rem;
  color: white;
  i {
    position: absolute;
    &:first-child{
      left: 10px;
    }
    &:last-child{
      right: 10px;
    }
  }
}
#content {
  .postitle {
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    border-bottom: 1px solid #e8e8e8;
    .title {
      color: #333;
      font-size: .18rem;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
    }
    .collicon {
      float: right;
      width: 39px;
      position: relative;
      text-align: center;
      padding: 6px 10px 0 10px;
      height: 43px;
      .text {
        display: block;
        color: #888;
        font-size: .11rem;
        line-height: 30px;
      }
    }
  }
  .detail {
    @include border_1px(#e8e8e8);
    min-height: 10px;
    padding: 15px;
    .items {
      &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
      .item {
        float: left;
        color: #333;
        font-size: .14rem;
        position: relative;
        width: 33.33%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 11px;
      }
    }
    
    .temptation {
      color: #888;
      word-break: break-all;
      font-size: .13rem;
    }
  }
  .company {
    @include border_1px(#e8e8e8);
    min-height: 10px;
    padding: 15px;
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    .logo {
      width: 60px;
      height: 60px;
      float: left;
    }
    .desc {
      margin-left: 70px;
      min-height: 10px;
      .dleft {
        float: left;
        min-height: 10px;
        min-width: 10px;
        max-width: 80%;
        .title {
          color: #00b38a;
          font-size: .18rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 5px;
        }
        .info {
          color: #888;
          font-size: .12rem;
        }
      }
    }
  }
  .positiondesc {
    min-height: 10px;
    .header {
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      color: #00b38a;
      font-size: .14rem;
      background-color: #d2f9f0;
    }
    .content {
      word-break: break-all;
      padding: 15px;
      color: #555;
      font-size: .12rem;
      line-height: 22px;
    }
  }
  .positioneval {
    .eval-title {
      height: 36px;
      line-height: 36px;
      padding-left: 15px;
      color: #00b38a;
      font-size: .14rem;
      background-color: #d2f9f0;
    }
    .list {
      .list-item {
        padding: 15px;
        padding-bottom: 14px;
        border-bottom: none;
      }
    }
  }
  .fix_btn_group {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 44px;
    width: 92%;
    padding: 12px 4%;
    line-height: 44px;
    background-color: rgba(255,255,255,0.8);
    .deliver {
      width: 100%;
      background-color: #00b38a;
      color: #fff;
      font-size: .16rem;
      text-align: center;
      border-radius: 3px;
    }
  }
  #push_bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 68px;
    width: 100%;
    background-color: rgba(14,14,14,0.9);
    color: #fff;
    z-index: 99;
    .push_bottom_table {
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      padding: 4.3% 2.5% 3.3%;
      .push_bottom_download {
        .push_bottom_row {
          &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
          }
          .push_logo {
            margin-right: 2%;
            width: 12%;
            float: left;
          }
          .push_tips {
            width: 52%;
            float: left;
          }
          .push_btn {
            float: right;
            width: 27.5%;
            padding-top: 1%;
          }
        }
      }
      .push_mascot {
        position: absolute;
        left: 2.5%;
        top: 0;
        z-index: 2;
        width: 14%;
        .push_mascot_img {
          display: block;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .close_btn {
        position: absolute;
        right: 2.5%;
        top: 0;
        display: block;
        width: 6.1%;
        padding: 2%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 100%;
        background: linear-gradient(to bottom, rgba(14,14,14,0.9) 0, rgba(14,14,14,0.9) 50%, rgba(14,14,14,0) 51%, rgba(14,14,14,0) 100%);
      }
    }
  }
}