#search {
  margin-bottom: 45px;
  .linputer {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    height: 45px;
    .lbutton {
      float: left;
      line-height: 45px;
      font-size: 0.15rem;
      text-align: center;
      width: 0.88rem;
      border-right: 1px solid #e8e8e8;
      .city {
        line-height: 45px;
        text-align: center;
      }
      .cityicon {
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 20px;
        left: 60px;
      }
    }
    .rinput{
      height: 45px;
      margin-left: 0.89rem;
      position: relative;
      input {
        height: 25px;
        line-height: 25px;
        float: left;
        border: none;
        outline: none;
        color: #333;
        margin: 0 0 0 5%;
        font-size: 0.15rem;
        padding: 10px 0;
      }
      span {
        display: block;
        width: 20%;
        height: 45px;
        line-height: 45px;
        float: right;
        position: relative;
        i {
          position: absolute;
          left: 40%;
        }
      }
    }
  }
  .listcon {
    .custominfo {
      height: 35px;
      line-height: 35px;
      font-size: 0.14rem;
      color: #5d897e;
      background-color: #e7f7f3;
      text-align: center;
      margin-top: 16px;
      margin-bottom: 14px;
    }
  }
}
.none {
  display: none;
}