* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul,
ol {
  list-style: none;
}
body {
  font-size: 12px;
  font-family: "微软雅黑", "宋体";
}
.base {
  width: 1000px;
  margin: 0 auto;
}
#header {
  height: 100px;
  background-color: #ffffff;
}
#header div.base img {
  float: left;
  margin-left: 20px;
  height: 27px;
  margin-top: 38px;
}
#header div.base div.header-search {
  width: 228px;
  height: 28px;
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}
#header div.base div.header-search input {
  width: 228px;
  border: 1px solid #cccccc;
  height: 26px;
  float: left;
  background-color: #f1f1f1;
  padding: 8px 14px;
  box-sizing: border-box;
}
#header div.base div.header-search img {
  float: right;
  margin: -23px 7px 0 0;
  height: 18px;
}
#nav {
  height: 60px;
  background-color: #333333;
}
#nav div.base ul {
  margin-left: 25px;
}
#nav div.base ul li {
  float: left;
  color: #ffffff;
  width: 120px;
  border-right: 1px solid #999999;
  line-height: 60px;
  font-size: 14px;
  text-align: center;
}
#nav div.base ul li:last-child {
  border-right: none;
}
#banner {
  height: 465px;
}
#banner div.base img {
  height: 465px;
  border: 0;
}
#info {
  height: 240px;
}
#info div.base div.info-news {
  width: 450px;
  height: 240px;
  background-color: #ffffff;
  float: left;
  padding-left: 20px;
  padding-right: 30px;
}
#info div.base div.info-news a {
  color: #999999;
  background: url(../images/list-img.jpg) no-repeat left center;
  display: block;
  height: 24px;
}
#info div.base div.info-news h3 {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: normal;
}
#info div.base div.info-news-text {
  float: left;
  line-height: 24px;
  margin-left: 10px;
}
#info div.base div.info-news-date {
  float: right;
  line-height: 24px;
}
#info div.base div.info-introduce {
  width: 193px;
  height: 240px;
  background-color: #f1f1f1;
  float: left;
  padding-left: 22px;
  padding-right: 25px;
}
#info div.base div.info-introduce h3 {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: normal;
}
#info div.base div.info-introduce h4 {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  color: #999999;
}
#info div.base div.info-introduce span {
  line-height: 24px;
  color: #999999;
  margin-bottom: 20px;
  display: block;
}
#info div.base div.info-introduce p {
  line-height: 24px;
  color: #999999;
}
#info div.base div.info-zhaopin {
  width: 235px;
  height: 240px;
  background-color: #fbfbfb;
  float: left;
  padding-left: 25px;
}
#info div.base div.info-zhaopin h3 {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 20px;
  font-weight: normal;
}
#info div.base div.info-zhaopin p {
  line-height: 24px;
}
#info div.base div.info-zhaopin-more a {
  color: #ffffff;
}
#info div.base div.info-zhaopin-more div {
  display: inline-block;
  width: 57px;
  height: 18px;
  background-color: #b0b0b0;
  border-radius: 3px;
  line-height: 18px;
  padding-left: 10px;
  margin-top: 50px;
}
#info div.base div.info-zhaopin-more img {
  float: right;
  margin-right: 16px;
}
#market {
  height: 305px;
}
#market div.base .market-title {
  height: 65px;
  background-color: #ffffff;
}
#market div.base .market-title h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  padding-top: 15px;
  padding-left: 20px;
}
#market div.base .market-desc {
  height: 240px;
  margin-left: 20px;
}
#market div.base .market-desc li {
  margin-right: 40px;
  float: left;
}
#market div.base .market-desc li img {
  width: 210px;
  margin-bottom: 16px;
}
#market div.base .market-desc li p {
  width: 210px;
  line-height: 24px;
  color: #555555;
}
#market div.base .market-desc li:last-child {
  margin-right: 0;
}
#product .base {
  height: 250px;
  background-color: #e5e5e5;
}
#product .base .product-center {
  width: 450px;
  height: 250px;
  margin-right: 50px;
  padding-left: 20px;
  float: left;
}
#product .base .product-center h3 {
  padding-left: 12px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  border-bottom: 1px solid #c1c1c1;
  color: #666666;
}
#product .base .product-center ul {
  width: 150px;
  margin-top: 16px;
  float: left;
}
#product .base .product-center ul li > a {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
}
#product .base .product-center ul:nth-child(3) {
  width: 190px;
}
#product .base .product-center ul:last-child {
  width: 110px;
}
#product .base .product-tech {
  width: 155px;
  height: 250px;
  margin-right: 50px;
  float: left;
}
#product .base .product-tech h3 {
  padding-left: 12px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  border-bottom: 1px solid #c1c1c1;
  color: #666666;
}
#product .base .product-tech ul {
  width: 155px;
  margin-top: 16px;
  float: left;
}
#product .base .product-tech ul li > a {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
}
#product .base .product-network {
  height: 250px;
  width: 255px;
  float: left;
}
#product .base .product-network h3 {
  padding-left: 12px;
  margin-top: 25px;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  border-bottom: 1px solid #c1c1c1;
  color: #666666;
}
#product .base .product-network img {
  margin-left: 30px;
  margin-top: 15px;
}
#footer .base {
  background-color: #fff;
  height: 80px;
}
#footer .base .footer-site {
  padding-left: 20px;
  width: 330px;
  float: left;
}
#footer .base .footer-site li {
  float: left;
  line-height: 56px;
}
#footer .base .footer-copy {
  float: left;
  line-height: 56px;
  width: 480px;
}
#footer .base .footer-shared {
  width: 170px;
  float: left;
  line-height: 56px;
}
#footer .base .footer-shared p {
  float: left;
}
#footer .base .footer-shared img {
  margin-top: 15px;
  float: left;
}
