* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.nav1 {
  width: 600px;
  height: 25px;
  margin: 50px;
}
.nav1 li {
  margin-right: 1px;
  float: left;
  height: 25px;
  width: 100px;
  position: relative;
}
.nav1 li a {
  background-color: red;
  text-align: center;
  width: 100px;
  color: #ffffff;
  display: block;
}
.nav1 li a:hover {
  text-decoration: underline;
}
.nav1 li .nav2 {
  display: none;
  position: absolute;
  width: 400px;
  height: 25px;
  margin: 0;
  z-index: 1;
}
.nav1 li .nav2 li {
  float: none;
}
.nav1 li .nav2 li .nav3 {
  display: none;
}
.nav1 li .nav2 li a {
  background-color: blue;
}
.nav1 li .nav2 li a:hover {
  background-color: yellow;
  color: #000000;
}
.nav1 li:hover .nav2 {
  display: block;
}
.nav1 .nav2 > li:hover {
  position: relative;
}
.nav1 .nav2 > li:hover .nav3 {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
  z-index: 1;
}
.nav1 .nav2 > li .nav3 a {
  background-color: pink;
  color: #000000;
}
