<div class="box">


        <div class="position-input">
          <button type="button" id="position-add" class="btn add btn-block btn-success">+ 添加</button>
      
      
          <div class="box-tools search">
            <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
      
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
      
        </div>
      
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>logo</th>
                <th>公司名称</th>
                <th>城市</th>
                <th>职位名称</th>
                <th style="width: 40px">薪水</th>
                <th style="width: 100px">时间</th>
                <th>操作</th>
              </tr>
              {{#each data}}
              <tr>
                <td><img style="width:60px;" src="http://localhost:3000/upload/{{companyLogo}}" alt="" srcset=""></td>
                <td>{{companyName}}</td>
                <td>{{city}}</td>
                <td>{{positionName}}</td>
                <td>{{salary}}</td>
                <td>{{createTime}}</td>
                <td><a href="javascript:void(0)">操作</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>