* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  background-color: #f1f3f0;
}
.right {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 6px solid #796f70;
}
.fixed {
  width: 29px;
  position: fixed;
  height: 331px;
  bottom: 0;
  right: 6px;
}
.fixed li {
  height: 35px;
  margin-bottom: 1px;
  background: #7a6e6e url("../images/toolbars.png") no-repeat;
  border-radius: 2px 0 0 2px;
}
.fixed li.li1 {
  background-position: -87px -175px;
}
.fixed li.li1 span {
  background: url("../images/toolbars.png") no-repeat -150px -150px;
  width: 6px;
  height: 6px;
  z-index: 1;
  position: absolute;
  top: 9px;
  left: 20px;
}
.fixed li.li2 {
  background-position: -49px 0px;
}
.fixed li.li3 {
  background-position: -49px -50px;
}
.fixed li.li4 {
  background-position: -49px -100px;
}
.fixed li.li5 {
  background-position: -189px -150px;
}
.fixed li.li6 {
  background-position: -49px -150px;
  margin-bottom: 45px;
}
.fixed li.li7 {
  background-position: -49px -250px;
}
.fixed li.li8 {
  background-position: -49px -300px;
}
