.clearfix {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ffffce;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.div1 {
    background-color: #cecfce;
    height: 50px;
    margin-left: 10px;
    margin-top: 50px;
}
.ul1 {
    height: 35px;
    width: 800px;
    background-color: #9c0000;
    list-style: none;
}
.ul1 li {
    width: 100px;
    height: 32px;
    float: left;
    border-right: 1px solid #000000;
    padding-left: 1px;
}
.ul1 a {
    width: 100px;
    height: 28px;
    color: #000000;
    text-decoration: none;
    border-top: 4px solid #ffffff;
    background-color: #ff6100;
    display: block;
    text-align: center;
    line-height: 28px;
}
.ul1 a:hover {
    color: #ffff00;
    background-color: #000000;
    border-top-color: #9c0000;
}
.div2 {
    background-color: #fff;
    height: 60px;
    width: 800px;
    margin-top: 50px;
}
.ul2 li {
    width: 80px;
    height: 20px;
    background-color: #dfdfdf;
    color: #666666;
    float: left;
    margin-right: 1px;

}
.div3 {
    background-color: #e04a18;
    width: 800px;
    height: 8px;
}
.ul2 li:first-child {
    margin-left: 10px;
}
.a1 {
    text-align: center;
    display: block;
    color: #565656;
}
.a2 {
    display: none;
    text-align: center;
    color: #ffffd2;
    background-color: #e04a18;
}
li:hover .a1 {
    display: none;
}
li:hover .a2 {
    display: block;
}